pipeline/PL_statuslog_multables.json
{
	"name": "PL_statuslog_multables",
	"properties": {
		"activities": [
			{
				"name": "ForEach_multable",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Tablelist",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_data_sql_csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "sp_successlog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_data_sql_csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[loadstatus]",
								"storedProcedureParameters": {
									"dataread": {
										"value": {
											"value": "@activity('copy_data_sql_csv').output.dataread",
											"type": "Expression"
										},
										"type": "String"
									},
									"errorid": {
										"value": "",
										"type": "String"
									},
									"errormessage": {
										"value": "",
										"type": "String"
									},
									"loadstatus": {
										"value": {
											"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer4",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_errorlog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_data_sql_csv",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[loadstatus]",
								"storedProcedureParameters": {
									"dataread": {
										"value": {
											"value": "@activity('copy_data_sql_csv').output.dataread",
											"type": "Expression"
										},
										"type": "String"
									},
									"errorid": {
										"value": {
											"value": "@activity('copy_data_sql_csv').output.error[0].code",
											"type": "Expression"
										},
										"type": "String"
									},
									"errormessage": {
										"value": {
											"value": "@activity('copy_data_sql_csv').output.error[0].message",
											"type": "Expression"
										},
										"type": "String"
									},
									"loadstatus": {
										"value": {
											"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer5",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Tablelist": {
				"type": "array",
				"defaultValue": [
					"au_products",
					"industry_sic"
				]
			}
		},
		"annotations": []
	}
}